@font-face{
    font-family: "Netflix";
    src: url("../../fonts/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
} 
@font-face{
    font-family: "Netflix";
    src: url("../../fonts/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
    font-style: normal;
}


body{
    background: black;
    color: white;
    margin: 0;
    font-family: "Netflix";
    overflow-y: auto;
}

body::-webkit-scrollbar{
    height: 4px;
    width: 4px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(93, 92, 92);
    border-radius: 0.1px;
}

body::-webkit-scrollbar-thumb:hover{
    background: rgb(204, 196, 196);
}


a{
    color: white;
    text-decoration: none;
}

.header{ 
    padding: 15px 15px 100px;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);
}

.navigation-item {
    list-style: none;
    text-align: center;
}
.navigation {
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    justify-content: space-around;
}

.featured {
    margin-top: -90px;
    position: relative;
    overflow: hidden;
}

.featured-details{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, black 0%, black 40%, transparent 100%);
}

.tags {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}
.tag {
    display: flex;
}
.tag::before {
    content: "•";
    margin-right: 8px;
    position: relative;
    top: 2px;
}
.tag:first-child::before {
    display: none;
}

.feactured-actions {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2em;
}
.button{
    background: white;
    display: flex;
    align-items: center;
    padding: 5px 1em 5px .5em;
    border: none;
    cursor: pointer;
}
.button::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.button-secondary{
    background: none;
    color: white;
    font-size: 1.1em;
    min-width: 100px;
    cursor: pointer;
    border: none;
}
.button-secondary::before{
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    margin: auto;
    margin-bottom: 5px;
}
.icon-plus::before {
    background: url(../../images/icons/plus.svg);
}
.icon-play::before {
    background: url(../../images/icons/play.svg);
}
.icon-info::before {
    background: url(../../images/icons/info.svg);
}

.list-content{
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
}
.list-content::-webkit-scrollbar{
    height: 4px;
}
.list-content::-webkit-scrollbar-thumb{
    background: rgb(93, 92, 92);
    border-radius: 8px;
}

.list-content::-webkit-scrollbar-thumb:hover{
    background: rgb(204, 196, 196);
}

.list-item{
    display: inline-block;
    margin-left: 10px;
}
.list-item:first-child{
    margin: 0;
}
.list{

    padding: 0 1em;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer{
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    padding: 1em 0 0;
}
.tab-list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    color: #6e6e6e;
    padding-bottom: 1em;
}
.tab-list a{
    color: #6e6e6e;
}
.tab-item{
    text-align: center;
    font-size: .9em;
}
.tab-item svg{
    display: block;
    margin: auto;
}
.tab-item path{
    fill : #6e6e6e;
}
.tab-item:hover :is(path,span) {
    fill: white;
    color: white;
}